<div class="card my-4">
    <div class="card-header bg-dark text-white">
        <h5 class="card-title">{{ job.name }}</h5>
    </div>
    <div class="card-body">
        <p class="card-subtitle mb-2 text-muted">{{ job.localisation }}</p>
        <p class="card-text">{{ job.langage }}</p>
        <p class="card-text">{{ job.description }}</p>
    </div>
    <div class="card-footer">
        <a  class="btn btn-primary">Voir</a>
    </div>
</div>
