.latest{
    height: 100dvh;
    overflow: scroll;
    
}

*::-webkit-scrollbar{
    display: none;
}

.search{
    height: 20dvh;
}
.right-items{
    background-color: var(--grey);
}

body{
    overflow: hidden;
}